<%- include("../partials/header1") %>
<link rel="stylesheet" href="/stylesheets/Navbar.css">
<link rel="stylesheet" href="/stylesheets/Buttons.css">
<link rel="stylesheet" href="/stylesheets/admin.css">
<link rel="stylesheet" href="/stylesheets/Footer.css">
<%- include("../partials/header1b") %>
<%- include("../partials/navbar") %>

<div class="container">
	<div class="row d-flex justify-content-center">
		<h1 id="c2">Pending Posts</h1>
	</div>
	<div class="container">
		<%- include("../partials/flash") %>
	</div>
	<% if(posts.length == 0){ %>
		<div class="container">
			<div class="alert alert-info padbott" role="alert">
			 No pending posts
			</div>
		</div>
	<% } %>
	<div class="row">
	<% posts.forEach(function(post){  %>
		<div class="col-lg-4">
			<div class="card shadow p-3 mb-5 bg-white rounded">
				  <img src="<%= post.image %>" class="card-img-top" alt="...">
				  <div class="card-body">
					<h5 class="card-title"><%= post.heading.substring(0,100) %></h5>
					<p class="card-text"><%- post.content.substring(0,100) %></p>
					 <div>
						<a href="admin/explore/<%= post._id %>" id="more" class="btn">Read More</a>
					  </div>
				  </div>
			</div>
		</div>
	<%  }); %>
	</div>
</div>
<%- include("../partials/footer") %>
