<%- include("./partials/header1") %>
<link rel="stylesheet" type="text/css" href="/stylesheets/Navbar.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/register.css">
<!-- <link rel="stylesheet" href="/stylesheets/Buttons.css"> -->
<link rel="stylesheet" type="text/css" href="/stylesheets/Footer.css">
<%- include("./partials/header1b") %>
<div class="jumbotron">
	<%- include("./partials/navbar") %>
</div>
<!--===================================================-->
<div class="container mb-3" style="margin-top: -3rem;">
<%- include("./partials/flash") %>
</div>
<!--===================================================-->
<div class="container last">
		<div class="text-center">
			<h2 id="signh">Sign Up</h2>
			<form action="/register" method="POST">
				<div class="form-group">
					<input type="email" class="form-control" name="username" placeholder="Email address" required>
				</div>
				<div class="form-group">
					<input type="text" class="form-control" name="name" placeholder="Full Name" required>
				</div>
				<div class="form-group">
					<input type="password" class="form-control" name="password" placeholder="Password" required>
				</div>
				<button class="btn btn-lg mb-3">
					Submit
				</button>
				<a href="/login" style="float:right">Already have an account? Login</a>
			</form>
		</div>
</div>

<%- include("./partials/footer") %>