<%- include("../partials/header1") %>
<link rel="stylesheet" href="/stylesheets/Navbar.css">
<link rel="stylesheet" href="/stylesheets/Buttons.css">
<link rel="stylesheet" href="/stylesheets/explore.css">
<link rel="stylesheet" href="/stylesheets/Footer.css">
<%- include("../partials/header1b") %>
<div class="jumbotron ">
	<%- include("../partials/navbar") %>
	<div class="container text-center">
		<h1 id="exp">Explore Posts</h1>
		<a href="/explore/new" class="btn">Submit Your Creative Writing</a>
	</div>
</div>
<div class="container mb-5 mt-1">
<%- include("../partials/flash") %>
</div>
<div class="container">
	<div class="row">
	<% posts.forEach(function(post){  %>
		<div class="col-md-4">
			<div class="img-thumbnail shadow p-3 mb-5 bg-white rounded">
				  <img src="<%= post.image %>" class="card-img-top" alt="...">
				  <div class="card-body">
					<h5 class="card-title"><%= post.heading %></h5>
					<a href="/explore/<%= post._id %>" class="btn">Read More</a>
				  </div>
			</div>
		</div>
	<%  }); %>
	</div>
</div>
<%- include("../partials/footer") %>
