<%- include("../partials/header1") -%>
<link rel="stylesheet" href="/stylesheets/Navbar.css">
<link rel="stylesheet" href="/stylesheets/show.css">
<link rel="stylesheet" href="/stylesheets/Footer.css">
<%- include("../partials/header1b") -%>

<%- include("../partials/navbar") %>
<div class="container">
	<div class="row">
		<div class="col">
			<div class="card shadow p-3 mb-5 bg-white rounded">
			<h2 class="text-center">
				<%= post.heading %>
			</h2>
			<img src="<%= post.image %>" class="img-fluid text-center">
			<% if(currentUser && currentUser._id.equals(adminId)) { %>
				<div class="row d-flex justify-content-end mx-2">
					<a href="/explore/<%= post._id %>/imageedit">
				<button class="btn btn-warning btn-sm ">Replace Image </button></a>
				</div>
					
			<%	} %>
			<p>
				<%- post.content %>
			<p>
				<div class="text-right mr-5">
				<p class="text-muted">Submitted by <%= post.author.name %></p>
				</div>	
			<% if(currentUser && currentUser._id.equals(adminId)) { %>
			<div class="row d-flex justify-content-end mx-2 mb-4">
				<a href="/explore/<%= post._id %>/edit">
				<button class="btn btn-warning btn-sm">Edit </button></a>
			
			 <form id="delete" action="/explore/<%= post._id %>?_method=DELETE" method="POST">
                <button class="btn btn-danger mx-2 btn-sm">Delete</button>
            </form>
			</div>
			<%	} %>
			
			<!--=====================================-->
			<div class="container">
				<%- include("./likes") -%>
				<div style=" margin:2rem auto;">
				<form action="/explore/<%=post._id%>/comments" method="POST">
					<div class="form-group">
					<input type="text" name="comment[text]" placeholder="Comment . . ." class="form-control" required >
					</div>
					<button class="btn btn-primary d-flex justify-content-center">Add Comment</button>
				</form>
				</div>
				<hr>
				<% post.comments.forEach(function(comment){ %>
					<div class="row">
						<div class="col-md-12">
							<strong><%= comment.author.name %></strong>
							<p><%=comment.text%></p>
						</div>
					</div>
				<% }); %>
			</div>
			<!--=====================================-->
			
			</div>
		</div>
	</div>
</div>
<%- include("../partials/footer") %>