<%- include("../../partials/header1") -%>
<link rel="stylesheet" href="/stylesheets/Navbar.css">
<link rel="stylesheet" href="/stylesheets/Buttons.css">
<link rel="stylesheet" href="/stylesheets/science.css">
<link rel="stylesheet" href="/stylesheets/Footer.css">
<%- include("../../partials/header1b") -%>
<div class="jumbotron">
	<%- include("../../partials/navbar") %>
	<div class="container opph1 text-center">
		<h1>Science and Technology</h1>
	</div>
</div>
<% if(opportunities.length==0){ %>
	<div class="container">
		<div class="alert alert-info" role="alert">
		No Opportunities in this field yet!
		</div>
	</div>
<% } %>
<div class="container">
	<div class="row">
	<% opportunities.forEach(function(opportunity){  %>
		<div class="col-md-4">
			<div class="card shadow p-3 mb-5 bg-white rounded">
				  <img src="<%= opportunity.image %>" class="card-img-top" alt="...">
				  <div class="card-body">
					<h5 class="card-title"><%= opportunity.heading %></h5>
					<p class="card-text"><%- opportunity.detail.substring(0,100)%>...</p>
					<a href="science/<%= opportunity._id %>" class="btn">Read More</a>
				  </div>
			</div>
		</div>
	<%  }); %>
	</div>
</div>
 <%- include("../../partials/footer") %>