<%- include("../partials/header1") %>
	  <!--========Custom stylesheets=====================-->
	  <link rel="stylesheet" href="/stylesheets/Navbar.css">
	  <link rel="stylesheet" href="/stylesheets/NewFormHeader.css">
	  <link rel="stylesheet" href="/stylesheets/new.css">
	  <link rel="stylesheet" href="/stylesheets/Buttons.css">
	  <link rel="stylesheet" href="/stylesheets/Footer.css">
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<!--==============================================-->
<%- include("../partials/header1b") %>
	  
<!---Jumbotron-==========================----->
<div class="jumbotron">
<!--Navbar=====================================-->
<%- include("../partials/navbar") %>
<!--=====================================================================-->
<div class="container text-center">
	<h1 id="oh1">Edit Opportunity</h1>
</div>
</div>
<div class="container">
	<h1 id="oh2" class="text-center">Edit Opportunity</h1>
	<p id="p1" class="text-justify">
		The fields marked with <span class="asterisk">*</span> are mandatory.
	</p>
	<form action="/opportunities/<%= opportunity._id %>?_method=PUT" method="POST">
  <div class="form-group">
    <label for="formGroupExampleInput">Heading <span class="asterisk">*</span></label>
    <input type="text" class="form-control" id="formGroupExampleInput" name="opportunity[heading]" value="<%= opportunity.heading %>" required>
	  <small class="form-text text-muted">This will appear as the heading of your opportunity</small>
  </div>
<div class="form-group">
		<label for="formGroupExampleInput">Short Description(100 Characters)</label>
		<input type="text" class="form-control" id="formGroupExampleInput" name="opportunity[shortDescription]" maxlength = "100" value="<%= opportunity.shortDescription %>" required>
		  <small class="form-text text-muted">This will appear under the heading on the main page</small>
	  </div>
<!--==============================================-->
  <div class="form-group">
    <label for="formGroupExampleInput2">About the Organisation <span class="asterisk">*</span></label>
	<div id="organisation" class="white"><%- opportunity.organisation %></div>
    <input type="hidden" id="o1" name="opportunity[organisation]" required>
  </div>
	<div class="form-group">
    <label for="exampleFormControlTextarea1">About the  Competition/Event/Opportunity <span class="asterisk">*</span></label>
	<div id="detail" class="white"> <%- opportunity.detail %></div>
	<input type="hidden" id="o2" name="opportunity[detail]" required>
  </div>
<!--=================================================-->
	<div class="form-group">
    <label for="formGroupExampleInput2">Eligibility/Prerequisites <span class="asterisk">*</span></label>
	<div id="eligibility" class="white"><%- opportunity.eligibility %></div>
	<input type="hidden" id="o3" name="opportunity[eligibility]" required>
  </div>
	<div class="form-group">
    <label for="formGroupExampleInput2">Important Dates <span class="asterisk">*</span></label>
	<div id="dates" class="white"><%- opportunity.dates %></div>
	<input type="hidden" id="o4" name="opportunity[dates]" required>
  </div>
	<div class="form-group" >
    <label for="formGroupExampleInput2">Registration Process </label>
	<div id="process" class="white"><%- opportunity.process %></div>
	<input type="hidden" id="o5" name="opportunity[process]" required>
  </div>
	<div class="form-group" >
    <label for="formGroupExampleInput2">Benefits/Prizes/Perks <span class="asterisk">*</span></label>
	<div id="prize" class="white"><%- opportunity.prize %></div>
	<input type="hidden" id="o6" name="opportunity[prize]" required>
  </div>
	<div class="form-group" >
    <label for="formGroupExampleInput2">Other Details</label>
	<div id="other" class="white"><%- opportunity.other %></div>
	<input type="hidden" id="o8" name="opportunity[other]" required>
  </div>
	<div class="form-group" >
    <label for="formGroupExampleInput2">Contact details for more information <span class="asterisk">*</span></label>
	<div id="contact" class="white"><%- opportunity.contact %></div>
	<input type="hidden" id="o7" name="opportunity[contact]" required>
  </div>
<!--=================================================-->
	<div class="text-center">
		<button type="submit" class="btn btn-lg px-5">Submit</button>
	</div>
</form>
</div>
<!--================================-->
<script src="../../javascript/quill2.js"></script>
 <%- include("../partials/footer") %>