<%- include("../partials/header1") %>
<!--===Custom stylesheets=========================-->
	  <link rel="stylesheet" href="/stylesheets/Navbar.css">
	  <link rel="stylesheet" href="/stylesheets/opportunities.css">
	  <link rel="stylesheet" href="/stylesheets/Buttons.css">
	<link rel="stylesheet" href="/stylesheets/socialbar.css">
	  <link rel="stylesheet" href="/stylesheets/Footer.css">
<!--==============================================-->
<%- include("../partials/header1b") %>
<div class="jumbotron">
<!--Navbar=====================================-->
<%- include("../partials/navbar") %>

<!--=====================================================================-->
<div class="container opph">
	<h1 class="heading"> Know Your Opportunities </h1>
	<p class="txt1">
		A portal for keeping you updated about all the latest opportunities in different fields.
	</p>
	<a href="/opportunities/new">
	<button class="btn">
		Add a New Opportunity
	</button></a>
</div>
</div>
<!--================================-->
<div class="container mb-5 mt-1">
<%- include("../partials/flash") %>
</div>
<!--================================-->
<div class="container">
	<div class="row">
		<div class="col-lg-6">
			<a href="/opportunities/science">
			<div class="card bg-dark text-white shadow-lg p-3 mb-5 bg-white rounded">
			  <img src="https://imgur.com/PyR6jQu.jpg" class="card-img img-fluid" alt="...">
			  <div class="card-img-overlay">
				<h3 class="card-title">Science and Technology</h3>
			  </div>
			</div>
			</a>
		</div>
		<div class="col-lg-6">
			<a href="/opportunities/business">
			<div class="card bg-dark text-white shadow-lg p-3 mb-5 bg-white rounded">
			  <img src="https://imgur.com/fHR7jfY.jpg" class="card-img img-fluid" alt="...">
			  <div class="card-img-overlay">
				<h3 class="card-title">Business, management and administration</h3>
			  </div>
			</div>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6">
			<a href="/opportunities/legal">
			<div class="card bg-dark text-white shadow-lg p-3 mb-5 bg-white rounded">
			  <img src="https://imgur.com/jdbb4Lv.jpg" class="card-img" alt="...">
			  <div class="card-img-overlay">
				<h3 class="card-title">Legal</h3>
			  </div>
			</div>
			</a>
		</div>
		<div class="col-lg-6">
			<a href="/opportunities/media">
			<div class="card bg-dark text-white shadow-lg p-3 mb-5 bg-white rounded">
			  <img src="https://imgur.com/y4oxco4.jpg" class="card-img" alt="...">
			  <div class="card-img-overlay">
				<h3 class="card-title">Media and Journalism</h3>
			  </div>
			</div>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6">
			<a href="/opportunities/humanities">
			<div class="card bg-dark text-white shadow-lg p-3 mb-5 bg-white rounded">
			  <img src="https://imgur.com/4SDWtk8.jpg" class="card-img img-fluid" alt="...">
			  <div class="card-img-overlay">
				<h3 class="card-title">Humanities</h3>
			  </div>
			</div>
			</a>
		</div>
		<div class="col-lg-6">
			<a href="/opportunities/commerce">
			<div class="card bg-dark text-white shadow-lg p-3 mb-5 bg-white rounded">
			  <img src="https://imgur.com/yCYxLAP.jpg" class="card-img img-fluid" alt="...">
			  <div class="card-img-overlay">
				<h3 class="card-title">Commerce and Accountancy</h3>
			  </div>
			</div>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6">
			<a href="/opportunities/school">
			<div class="card bg-dark text-white shadow-lg p-3 mb-5 bg-white rounded">
			  <img src="https://imgur.com/xGz6NJy.jpg" class="card-img img-fluid" alt="...">
			  <div class="card-img-overlay">
				<h3 class="card-title">School-level Opportunitities</h3>
			  </div>
			</div>
			</a>
		</div>
		<div class="col-lg-6">
			<a href="/opportunities/other">
			<div class="card bg-dark text-white shadow-lg p-3 mb-5 bg-white rounded">
			  <img src="https://imgur.com/adcNnqH.jpg" class="card-img img-fluid" alt="...">
			  <div class="card-img-overlay">
				<h3 class="card-title">Other Fields</h3>
			  </div>
			</div>
			</a>
		</div>
	</div>
</div>

<%- include("../partials/socialbar2") -%>
<!--================================-->
 <%- include("../partials/footer") %>