<link rel="preload" href="https://imgur.com/O37XVBM.jpg" as="image">
<%- include("../../partials/header1") -%>
<link rel="stylesheet" href="/stylesheets/Navbar.css">
<link rel="stylesheet" href="/stylesheets/Buttons.css">
<link rel="stylesheet" href="/stylesheets/categories/business.css">
<link rel="stylesheet" href="/stylesheets/categoriesindex.css">
<link rel="stylesheet" href="/stylesheets/socialbar.css">
<link rel="stylesheet" href="/stylesheets/Footer.css">
<%- include("../../partials/header1b") -%>
<div class="jumbotron">
	<%- include("../../partials/navbar") %>
	<div class="container opph1 text-center">
		<h1>Business,management and administration</h1>
<%- include("./general") %>
 <%- include("../../partials/footer") %>