</div>
</div>
<% if(opportunities.length==0){ %>
	<div class="container">
		<div class="alert alert-info" role="alert">
		No Opportunities in this field yet!
		</div>
	</div>
<% } %>
<div class="container">
	<div class="row">
	<% opportunities.reverse().forEach(function(opportunity){  %>
		<div class="col-lg-4">
			<div class="card shadow p-3 mb-5 bg-white rounded">
				  <img src="<%= opportunity.image %>" class="card-img-top" alt="...">
				  <div class="card-body">
					<h5 class="card-title"><%= opportunity.heading.substring(0,100) %></h5>
					<p class="card-text"><%- opportunity.detail.substring(0,100)%></p>
					 <div>
						<a href="/opportunities/<%= opportunity._id %>" id="more" class="btn">Read More</a> 
					  </div>
					
				  </div>
			</div>
		</div>
	<%  }); %>
	</div>
</div>
<%- include("../../partials/socialbar2") -%>